@import url('bootstrap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#card_female{
  background-color: rgb(220, 143, 156);
}


#card_male{
  background-color: rgb(99, 62, 202);
}

img{
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.card-body{
  min-height: 43rem;
}

.card{
  max-width: 25rem;
}